/* https://beta.nextjs.org/docs/styling/global-styles */
/* https://beta.nextjs.org/docs/styling/tailwind-css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply container relative mx-auto space-y-8 p-8;
    @apply dark:bg-zinc-900 dark:text-white;
  }

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  main {
    @apply m-auto flex max-w-xl flex-col items-center justify-center gap-8;
  }

  input {
    @apply rounded px-4 py-2;
    @apply bg-zinc-100 text-zinc-900 dark:bg-zinc-800 dark:text-zinc-100;
  }
}

button,
.button {
  @apply rounded px-4 py-2 text-white;
  @apply bg-zinc-600 hover:bg-zinc-500 dark:bg-zinc-700 dark:hover:bg-zinc-800;

  width: fit-content;
}

.row {
  @apply flex gap-8;
}

.column {
  @apply flex flex-col gap-4;
}

.header {
  @apply space-y-4 text-center text-2xl font-bold;
}

.footer {
  @apply space-y-4 text-center text-sm;

  & a {
    @apply underline;
  }
}

.search {
  @apply flex items-center justify-center gap-4;
}

.weather {
  @apply flex flex-col gap-4;

  h1 {
    @apply text-center;
  }

  .time {
    @apply text-center text-sm;
  }

  .temp-box {
    @apply flex flex-col items-center justify-center gap-4;
    @apply relative z-0 h-96 w-80 p-8;

    .current-temp {
      @apply text-8xl font-bold;

      color: var(--currentTemp);
    }

    .temp-range {
      @apply flex gap-1;
    }

    &:before {
      @apply absolute inset-0 -z-10 rounded-lg p-2;

      animation: 10s rotate linear infinite;
      content: '';

      /**
       * Create a gradient from minTemp to maxTemp.
       * @see https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/conic-gradient
       */
      background: conic-gradient(
        from var(--angle),
        var(--minTemp),
        var(--feelsLikeTemp),
        var(--maxTemp),
        var(--minTemp)
      );

      /**
       * Create a mask on top, creating the illusion of a border.
       * @see https://developer.mozilla.org/en-US/docs/Web/CSS/mask
       */
      mask: conic-gradient(#fff 0 0) content-box, conic-gradient(#fff 0 0);
      mask-composite: exclude;
    }
  }
}

.settings {
  @apply absolute top-0 right-6;
}

.blog {
  article {
    @apply flex flex-col gap-4;

    div {
      @apply flex flex-col gap-4;
    }
  }
}

/* Type definitions for CSS custom properties */
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
