:root {
  --color-primary: #ff0000;
  --color-secondary: #00ff00;
  --color-tertiary: #0000ff;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
